<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wanandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.wanandroid.datas.Datas"/>
        <activity android:name="com.example.wanandroid.adapter.ArticleAdapter"/>
        <activity android:name=".mainactivity.Main_Program"/>
        <activity android:name="com.example.wanandroid.adapter.ProgramAdapter"/>
        <activity android:name=".mainactivity.Main_passage"/>
        <activity android:name=".mainactivity.Main_publicPassage"/>
        <activity android:name=".mainactivity.Main_system" />
        <activity android:name=".mainactivity.Main_go" />
        <activity android:name=".fragment.FragmentGo" />
        <activity android:name=".fragment.FragmentUrlGo" />
        <activity android:name=".login.registerMe"/>
        <activity android:name="com.example.wanandroid.mainactivity.Main" />
        <activity android:name=".login.loginMe">
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>